<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href=<%= games_path %>>試合一覧</a></li>
    <li class="breadcrumb-item active" aria-current="page">試合情報編集</li>
  </ol>
  <h3>試合情報修正</h3>
  <%= render 'form' %>
</div>
