<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">試合登録</li>
    </ol>
  </nav>
  <h3>試合情報登録</h3>
  <%= render 'form' %>
</div>
