<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">選手編集</li>
    </ol>
    <h3>選手編集</h3>
    <%= render "form" %>
</div>
