<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">選手一覧</li>
    </ol>
  </nav>
<h3>選手一覧</h3>
  <ul class="list-group list-group-flush">
    <% @players.each do |player| %>
      <li class="list-group-item">
        <%= "背番号:#{player.back_number}  #{player.name}" %>
        <%= link_to "削除", player_path(player), method: :delete, data: {confirm: '本当に削除していいですか？' }, class: "btn btn-outline-danger btn-sm float-right" %>
        <%= link_to "編集", edit_player_path(player), class: "btn btn-outline-primary btn-sm float-right" %>
      </li>
    <% end %>
  </ul>
</div>
